version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        layerinfo: inmemory
    filesystem:
        rootdirectory: ###ROOTDIRECTORY###
http:
  addr: ###DD_ADDR###:###DD_PORT###
  headers:
    X-Content-Type-Options: [nosniff]
  tls:
    certificate: ###CERT_PATH###/###DD_ADDR###.crt
    key: ###CERT_PATH###/###DD_ADDR###.key

health:
  storagedriver:
    enabled: true
    interval: 60s
    threshold: 3
