apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{ token_id.stdout }}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
data:
  expiration: {{ expiration.stdout | b64encode }}
  token-id: {{ token_id.stdout | b64encode }}
  token-secret: {{ token_secret.stdout | b64encode }}
  usage-bootstrap-authentication: {{ 'true' | b64encode }}
  usage-bootstrap-signing: {{ 'true' | b64encode }}
