apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ kubernetes_apiserver_url }}
  name: icp-cluster
contexts:
- context:
    cluster: icp-cluster
    user: bootstrap
  name: bootstrap
current-context: bootstrap
preferences: {}
users:
- name: bootstrap
  user:
    as-user-extra: {}
    token: {{ token_id.stdout }}.{{ token_secret.stdout }}
