{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "k8s-proxy",
    "namespace": "kube-system",
    "annotations": {
        "scheduler.alpha.kubernetes.io/critical-pod": ""
    }
  },
  "spec":{
    "hostNetwork": true,
{% if "--proxy-mode=ipvs" in kube_proxy_extra_args %}
    "initContainers":[
      {
        "name": "init-kube-proxy",
        "image": "{{ k8s_image }}",
        "imagePullPolicy": "IfNotPresent",
        "command": [
          "/bin/sh",
          "-c",
          "modprobe -a ip_vs ip_vs_rr ip_vs_wrr ip_vs_sh nf_conntrack_ipv4"
        ],
        "securityContext": {
          "privileged": true
        },
        "volumeMounts": [
          {
            "mountPath": "/lib/modules",
            "name": "lib-modules"
          }
        ]
      }
    ],
{% endif %}
    "containers":[
      {
        "name": "proxy",
        "image": "{{ k8s_image }}",
        "imagePullPolicy": "IfNotPresent",
        "command": [
          "/hyperkube",
          "proxy",
          "--kubeconfig=/etc/cfc/kube-proxy/kube-proxy-config",
          "--hostname-override={{ kubelet_nodename | node_name(inventory_hostname, hostvars[inventory_hostname]['ansible_'~kubelet_nodename]) }}",
{% if kube_proxy_extra_args|length > 0 %}
{% for item in kube_proxy_extra_args %}
          "{{ item }}",
{% endfor %}
{% endif %}
          "--cluster-cidr={{ network_cidr }}"
        ],
        "securityContext": {
            "privileged": true
        },
        "volumeMounts": [
          {
            "mountPath": "/etc/cfc/kube-proxy",
            "name": "kubelet"
          }
        ]
      }
    ],
    "volumes": [
      {
        "hostPath": {
          "path": "/etc/cfc/kube-proxy"
        },
        "name": "kubelet"
      },
      {
        "hostPath": {
          "path": "/lib/modules"
        },
        "name": "lib-modules"
      }
    ]
  }
}
