apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ kubernetes_apiserver_url }}
  name: cfc-cluster
contexts:
- context:
    cluster: cfc-cluster
    user: kubelet
users:
- name: kubelet
  user:
    client-certificate: /etc/cfc/kubelet/kubelet.crt
    client-key: /etc/cfc/kubelet/kubelet.key
