{
    "apiVersion": "v1",
    "kind": "Pod",
    "metadata": {
        "name": "k8s-{{ vip_node_type }}-keepalived",
        "namespace": "kube-system",
        "annotations": {
            "scheduler.alpha.kubernetes.io/critical-pod": ""
        }
    },
    "spec": {
        "hostNetwork": true,
        "containers": [
            {
                "name": "keepalived",
                "image": "{{ keepalived_image }}",
                "imagePullPolicy": "IfNotPresent",
                "env": [
                    {
                        "name": "VIP",
                        "value": "{{ vip_address }}"
                    },
                    {
                        "name": "INTERFACE",
                        "value": "{{ vip_interface }}"
                    }
                ],
                "securityContext": {
                    "capabilities": {
                        "add": [
                            "NET_ADMIN"
                        ]
                    }
                }
            }
        ]
    }
}
