---
apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ kubernetes_apiserver_url }}
  name: icp-cluster1
contexts:
- context:
    cluster: icp-cluster1
    user: admin
users:
- name: admin
  user:
    client-certificate: /etc/cfc/conf/kubecfg.crt
    client-key: /etc/cfc/conf/kubecfg.key
