apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ kubernetes_apiserver_url }}
  name: cfc-cluster
contexts:
- context:
    cluster: cfc-cluster
    user: kube-controller-manager
users:
- name: kube-controller-manager
  user:
    client-certificate: /etc/cfc/conf/kube-controller-manager.crt
    client-key: /etc/cfc/conf/kube-controller-manager.key
