apiVersion: v1
kind: Config
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ kubernetes_apiserver_url }}
  name: cfc-cluster
contexts:
- context:
    cluster: cfc-cluster
    user: kube-scheduler
users:
- name: kube-scheduler
  user:
    client-certificate: /etc/cfc/conf/kube-scheduler.crt
    client-key: /etc/cfc/conf/kube-scheduler.key
